<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <ng-container *ngFor="let data of AllData">
      <div class="col-md-4">
        <img src={{img_path}}{{data?.photo}} alt="...">
        <!-- <p>img_url {{img_path}}{{data?.photo}}</p> -->
        <!-- <p><img src="{{img_path}}{{data?.logo}}" alt=""></p> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <a href="">{{data.company_name}}</a>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
