.card-img-top{
    height: 80px;
    width: 70px;
    object-fit: cover;
    width: auto;
    /* margin-bottom:.7rem!important; */   
}
.container{
    margin: auto;
}
.card{
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 20px;
}