.container{
  background-color: whitesmoke;
  position: relative;
  margin-top: 10px;
  height: 550px;
  width: 1150px;
  padding-top: 12px;
  border: 1px solid black;
  border-radius: 10px;
  
  
}


.box{
  float: right;
  position: absolute;
  right: 10px;

}

.buton{
  position: absolute;
  right: 20px;
  margin-top: 10px;
}








