<!-- <div class="container"> -->
<div class="container">
        <form action="">
            <input type="checkbox"> Global Platform Available with Store
            <div class="box">
                <label for="">Store Global Sale Proceed Commission</label>&nbsp;
                <input type="text">%
            </div>

            <br><br>

            <input type="checkbox"> COD available with Primary Store
            <div class="box">
                <label for="">COD fee for store</label>&nbsp;
                <input type="text">%
            </div>

            <br><br>

            <input type="checkbox"> Online Payment Gateway with Primary Store
            <div class="box">
                <label for="">Bank fee for store</label>&nbsp;
                <input type="text">%
            </div>

            <br><br>

            <input type="checkbox"> Self Takeaway POS available with Primary Store
            <div class="box">
                <label for="">Self Takeaway fee for store</label>&nbsp;
                <input type="text">%
            </div>

            <br><br>

            <input type="checkbox"> Auto Platform Convenience Fee for Store Customers
            <div class="box">
                <label for="">Convenience fee Charged</label>&nbsp;
                <input type="text">%
            </div>

            <br><br>

            <input type="checkbox"> Wallet Service available with Store

            <br><br>

            <input type="checkbox"> Walk in POS available for Store
            <div class="box">
                <label for="">Walk in POS fee for POS</label>&nbsp;
                <input type="text"> %
            </div>
            <br><br>

            <input type="checkbox"> Credit rating status check for COD Customers

            <br><br>

            <input type="checkbox"> Auto listing of store in AllDay Phygital Market Place
            <br><br>

            <h5>Primary</h5>

            <!-- <div class="mb-3">
                <label for="exampleInputContact1" class="form-label">Gender:</label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                D2C Market Place
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                D2C DOC
            </div> -->


            <div class="mb-3">
                <label for="exampleInputContact1" class="form-label"></label>
                <input type="radio" formControlName="gender" value="male"> D2C Market Place &nbsp;&nbsp;&nbsp;
                <input type="radio" formControlName="gender" value="female"> D2C DOC
            </div>

        </form>
        <!-- <br> -->

        <div class="buton">
            <button type="button" class="btn btn-secondary">Cancel</button>&nbsp;
            <button type="button" class="btn btn-danger">Ok</button>
        </div>
    </div>
<!-- </div> -->