<div class="container">
    <h2>~ KYC VERIFIED ~</h2>
    <form>
        <label for="org_name">Organization Name</label><br>
        <input type="text" id="org_name" name="org_name"><br>
        <label for="org_type">Type</label>
        <select id="org_type" name="org_type">
            <option value="limited">Limited</option>
            <option value="private_limited">Private Limited</option>
            <option value="llp">LLP</option>
            <option value="partnership">Partnership</option>
            <option value="proprietor">Proprietor</option>
            <option value="huf">HUF</option>
        </select><br><br>
        <label for="gstin">Enter GSTIN Number</label><br>
        <input type="text" id="gstin" name="gstin"><br>

     

        <!-- <label for="attachment">Attach Bank cancelled Chrque</label><br> -->
        <label for="attachment" class="custom-btn">Camera</label><br>
      <!-- <input type="file"  id="attachment" name="attachment" accept="image/*" capture="attachment"><br> -->
      <input type="file" id="picture" style="display:none" name="picture" accept="image/*" onchange="displayFileName(this)" capture="environment" />
      <!-- <div class="file-name" id="fileName"></div> -->

      <label for="attachment" class="custom-upload-btn">Gallary</label><br>
      <input type="file"  id="attachment" style="display:none" name="attachment" ><br>
      <!-- <div class="file-name" id="fileName"></div> -->


        <!-- <label for="authorised_signatory">Are you an Authorised Signatory</label> -->
        Are you an Authorised Signatory <input type="radio" id="yes" name="authorised_signatory" value="yes">
      

        <label for="signatory_name">Enter Your Name</label><br>
        <input type="text" id="signatory_name" name="signatory_name"><br>

        <label for="signatory_designation">Enter Your Designation</label><br>
        <input type="text" id="signatory_designation" name="signatory_designation"><br>

        <label for="signatory_email">Enter your email</label><br>
        <input type="email" id="signatory_email" name="signatory_email"><br>

        <input type="submit" class="btn btn-primary" value="SUBMIT">
    </form>
</div>
