

<div class="container">
  <h3 class="company">Company Registation Page</h3>
    <form [formGroup]="addStore" (ngSubmit)="sumbitData()">
  
      <div class="row">
        <div class="col">
          <label for="formFile" class="form-label">Attach App Store Logo</label>
          <input type="file" (change)="onFileSelection($event)" class="form-control" placeholder="photo">
        </div>
        <div class="col">
          <label for="formFile" class="form-label">Company Name</label>
          <input type="text" formControlName="company_name" class="form-control" placeholder="company name">
        </div>
      </div>


      <br><br>


  
      <div class="row">
        <label for="exampleInputQualification1" class="form-label">Store Type:</label> <br>
        <span *ngFor="let h of checkBoxArr">
          <input type="checkbox" formControlName="checkBox" [value]="h" (click)="selectCheckBox($event)">{{h}}
        </span>
        <!-- <input type="checkbox" formControlName="checkBox" value="checkBox"> D2C_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="checkBox"> D2C_REGSTRATN_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="checkBox"> D2C_LOGIN_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="checkBox"> B2B_LOGIN_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="B2B_FLG"> B2B_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="B2B_BO_REGSTRATN_FLG"> B2B_BO_REGSTRATN_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="LASTMILE_DLVRY_FLG"> LASTMILE_DLVRY_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="SERVICES_FLG"> SERVICES_FLG <br>
        <input type="checkbox" formControlName="checkBox" value="DOC_APP_ALSO_MARKETPLACE_FLG"> DOC_APP_ALSO_MARKETPLACE_FLG -->
      </div>


      <br><br>

  
      <div class="row">
        <div class="col">
          <label for="formFile" class="form-label">Tagline 1</label>
          <input type="text" formControlName="tagline1" class="form-control" placeholder="tagline">
        </div>
        <div class="col">
          <label for="formFile" class="form-label">Tagline 2</label>
          <input type="text" formControlName="tagline2" class="form-control" placeholder="tagline">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="formFile" class="form-label">Url</label>
          <input type="text" formControlName="store_url" class="form-control" placeholder="Enter Your Url">
        </div>
      </div>
      <br>
      <div class="col">
      <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
  
  
  